/* header */
html{
    height: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}
h1{
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(93, 100, 69);
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
    user-select: none;
}

header {
    padding-top: 20px;
    width: 1180px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    display: flex;
    justify-content: space-between;
    color: rgb(247, 238, 223);
}
.cate {
    padding-left: 20px;
    text-align: left;
    font-size: 28px;
    font-weight: normal;
}
.closeBtn {
    font-size: 28px;
    font-weight: normal;
    margin-top: 30px;
    margin-right: 40px;
    color: rgb(93, 100, 69);
    transition-duration: 0.5s;
    text-align: right;
}
.login {
    color: rgb(247, 238, 223);
    padding: 10px;
    width: 150px;
    font-size: 1.15rem;
}
.join {
    color: rgb(93, 100, 69);
    border: 1px solid rgb(247, 238, 223);
    background-color: rgb(247, 238, 223);
    border-radius: 30px;
    border-width: thick;
    padding: 10px;
    font-size: 1.15rem;
    transition-duration: 0.5s;
}

/* home */
.join:hover {
    background-color: transparent;
    border-width: thick;
    color: rgb(247, 238, 223);
    transition-duration: 0.5s;
}
aside{
    width: 350px;
    height: 101.9%;
    top: 0;
    left: -350px;
    z-index: 5;
    background-color: rgb(220, 208, 182);
    color: rgb(93, 100, 69);
    position: absolute;
    transition-duration: 0.5s;
}
.mainAside {
    width: 350px;
}
.asideList{
    width: 350px;
    text-align: center;
    margin-top: 15%;
}
.asideList>p {
    margin: 50px;
    font-size: 15pt;
}

main {
    width: 1180px;
    display: flex;
    justify-content: space-between;
}
.part3 {
    width: 34%;
    height: 700px;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 700px;
    font-size: 40px;
    background-size: auto 700px;
    background-position: center;
    font-weight: bold;
    color: transparent;
    cursor: pointer;
    display: inline-block;
    transition-duration: 0.5s;
}
.sea{
    background-image: url('https://p4.wallpaperbetter.com/wallpaper/252/234/529/water-sea-waves-wallpaper-preview.jpg');
}
.air{
    background-image: url('https://i.pinimg.com/originals/0d/36/ca/0d36ca5098bba8b9b24f50e72a336b02.jpg');
}
.land{
    background-image: url('https://photo.coolenjoy.net/data/editor/2012/3b1073c47486832be39b309351f940f5f3b179ea.png');
}
.part3:hover {
    width: 50%;
    background-size: auto 900px;
    font-size: 60px;
    transition-duration: 1s;
    color: rgb(247, 238, 223);
    text-shadow: 4px 4px 6px rgb(50, 50, 50);
}



/* loginForm */
.loginForm {
    padding: 50px;
    width: 300px;
    height: 510px;
    margin: auto;
    margin-bottom: 100px;
    align-items: center;
    position: fixed;
    text-align: center;
    background-color: rgb(247, 238, 223);
    z-index: 5;
    color: rgb(93, 100, 69);
}

.login_id input{
    width: 238px;
    height: 50px;
    padding: 0 30px;
    border: 2px solid rgb(151, 156, 124);
    outline: none;
    margin-bottom: 20px;
}
.login_id input:hover {
    border: 2px solid rgb(93, 100, 69);
}
.submitBtn {
    margin-top: 20px;
}
.submitBtn input {
    background-color: rgb(93, 100, 69);
    transition-duration: 0.3s;
    border: 3px solid rgb(93, 100, 69);
}
.submitBtn input:hover{
    border: 3px solid rgb(93, 100, 69);
    background-color: rgb(247, 238, 223);
    color: rgb(93, 100, 69);
    transition-duration: 0.3s;
    cursor: pointer;
}
.submitBtn input,
.anotherLogin > div  {
    width: 100%;
    height: 50px;
    border: 0;
    outline: none;
    border-radius: 7px;
    color: rgb(247, 238, 223);
    font-size: 1.2em;
    letter-spacing: 2px;
}
.anotherLogin{
    margin-top: 40px;
    border-top: 1px solid rgb(93, 100, 69);
    padding-top: 20px;
}
.anotherLogin > div{
    margin: 20px 0;
    line-height: 50px;
}
.instaBtn {
    background-color: rgb(93, 100, 69);
}



/* overlay */
.aisdeOverlay,
.overlay{
    width: 100%;
    height: 120%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.5);
}
.hidden{
    display: none;
}
.overFlow{
    overflow: hidden;
}




/* footer */
footer {
    width: 1180px;
    text-align: center;
    color: rgb(0, 0, 0, 0.5);
}
.footerMenu{
    width: 100%;
    height: 100px;
    display: flex;
   
}
.address{
    width: 50%;
    color: black;
    height: 90px;
}
.web{
    text-align: center;
    width: 100%;
    color: #858585;
    font-size: 1rem;

}
.address > p {
    margin: 10px;
}
.sns{
    width: 50%;
    color: black;
    height: 90px;
    display: flex;
    justify-content: center;
}
.sns > div {
    margin-right: 10px;
    margin-left: 20px;
}
.sns > div:hover {
    cursor: pointer;
}
.facebook{
    color: rgb(71, 71, 177);
}
.twitter{
    color: rgb(52, 138, 219);
}
.instagram{
    color:rgb(105, 30, 93);
}
.youtube{
    color:  #c4302b;
    font-size: 3rem;
    margin-left: 20px;
}
.fas{
    font-size: 0.8rem;
    color: rgba(247, 238, 223, 0.6);
    display: inline-block;
    
}
.fab {
    margin-top: 30px;
}






/* 반응형  !!!! 맨아래 필수 !!!!!!!!!!!! */
@media (max-width: 1180px) {
    header, main, footer { width: 768px; }
    main { 
        flex-flow: column;
        margin-top: 5px;
    }
    .part3 { 
        width: 100%;
        height: 231px;
        line-height: 231px;
        
    }
    .part3:hover {
        width: 100%;
        font-size: 60px;
        transition-duration: 1s;
    }
    .sea {
        background-size: 100%;
    }
    .sea:hover {
        background-size: 120%;
    }
}
@media (max-width: 768px) {
    header, main, footer { width: 480px;}
    .part3{
        height: 205px;
        line-height: 205px;
    }
    footer{ height: 180px; }
    .address, .sns { width: 100%;}
    .footerMenu { flex-flow: column; }
}