<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.avengors.repository.PostRepository">
    <insert id="save" parameterType="post">
        INSERT INTO BOARD
            (MIDX, TITLE, CONTENT, CATEGORY, UPLOADFILE)
        VALUES
            (#{midx}, #{title}, #{content}, #{category}, #{uploadfile})
    </insert>
</mapper>